* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

body {
  margin: 0;
  padding: 0.5rem;
  background: #1a174f;
   background: radial-gradient(circle, rgba(26, 23, 79, 1) 0%, rgb(50, 50, 114) 35%, rgb(59, 40, 104) 100%);
  color: #cbe6fc transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}


header {
  padding: 10px 20px;
  background-color: #111;
  color: #cbe6fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: #cbe6fc;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 20px auto;
  padding: 25px;
  background-color: #1a1a1a;
  border-radius: 8px;
  box-shadow: 4px 6px 12px rgba(18, 24, 24, 0.5);
}

main h2,h3{
  margin: 12px;
  padding: 5px;
  color: #5008f8;
}

main p {
  margin: 12px;
  padding: 2px;
  color: #cbe6fc;
}

section img {
margin: 12px;
padding: 2px;
height:220px;
border-radius: 110px;
border: #512e72 1px solid;
}


section {
  max-width: 900px;
  margin: auto;
}

#banner-home{

  width:820px;
  height:400px;
 position: sticky;
}

#paisagem1 {
  width:460px;
  height:240px;
  border:none;
  border-radius:30px;
}

#paisagem2 {
  width:460px;
  height:240px;
  border:none;
  border-radius:30px;
}


.perfil {
  display: flex;
  align-items: center; 
  gap: 20px;  
}

#apresentação {
  margin: 10;
  padding: 2px;

}


.certificados {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 15px 0;
}

.certificados img {
  margin: auto;
  width: 100%;
  max-width: 300px;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.certificados p {
  text-align: center;
  margin-top: 5px;
}

.social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social a {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #333;
  color: #cbe6fc;
  font-weight: bold;
  text-decoration: none;
  transition: 0.6s;
}

.social img{
  margin: 12px;
  padding: 2px;
  height: 30px;
  justify-items: center;
  border: aquamarine solid 1px;
}

.social a:hover {
  background-color: #555;
  color: #00ffd5;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input, form textarea, form button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

form button {
 background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

form button:hover {
  background-color: #555;
  color: #00ffd5;
}


footer {
  margin-top: 20px;
  padding: 15px;
  background-color: #111;
  color: #cbe6fc;
  text-align: center;
  font-size: 14px;
}


